#grid-container{
    display: grid;
    grid-template-areas: 
    "navbar navbar navbar navbar navbar navbar navbar navbar"
    "menua menua menub menub menub menub menuc menuc"
    "formdiv formdiv formdiv formdiv formdiv formdiv formdiv formdiv"
    "video1 video1 video1 video1 video2 video2 video2 video2"
    "divfoot divfoot divfoot divfoot divfoot divfoot divfoot divfoot"
    ;
    margin: 10px;
}

#navbar{
     grid-area: navbar;
     margin: 5px;

}
#menua{
    background-color: red;
    grid-area: menua;
    margin: 5px;


}
#menub{
    background-color: blue;
    grid-area: menub;
    margin: 5px;

    
}
#menuc{
    background-color: green;
    grid-area: menuc;
    margin: 5px;

    
}
#formdiv{
    background-color: yellow;
    grid-area: formdiv;
    margin: 5px;

}
#video1{
    background-color: blueviolet;
    grid-area: video1;
    margin: 5px;

}
#video2{
    background-color: green;
    grid-area: video2;
    margin: 5px;

}
#divfoot{
    background-color: indianred;
    grid-area: divfoot;
    margin: 5px;

}


/* navigation stylings */
nav {
    grid-area: nav;
    background: #444;
    padding: 10px;
    text-align: center;
    transition: background 0.3s ease;
}

nav:hover {
    background: #555;
}

nav ul{
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    color: #ffcc00;
}


/* media queries */
@media screen and (max-width: 780px) {
    /* styling rules */
  
    #grid-container{
        display: grid;
        grid-template-areas: 
        "navbar navbar navbar navbar navbar navbar navbar navbar"
        "menua menua menua menua menuc menuc menuc menuc"
        "menub menub menub menub menub menub menub menub"
        "formdiv formdiv formdiv formdiv formdiv formdiv formdiv formdiv"
        "video1 video1 video1 video1 video1 video1 video1 video1"
        "video2 video2 video2 video2 video2 video2 video2 video2"
        "divfoot divfoot divfoot divfoot divfoot divfoot divfoot divfoot"
        ;
        margin: 10px;
    }
}